<% provide(:title, 'Edit Flight')  %>
<% provide(:button_text, 'Edit Flight')%>

<div class=title>Edit Flight</div>

<%=form_for @flight, url: user_flight_path do |f|%>
  <%= render 'form', f: f %>
<% end %>

<%= link_to 'Show', user_flights_path(@flight) %> |
<%= link_to 'Back', user_flights_path(current_user) %>

<script type="text/javascript">
  $(function () {
    $("#flight_flight_time").on("focusout", function (e) {
      flightTime = $("#flight_flight_time").val()
      var checkIn = new Date(flightTime) - 864e5
      $('#checkin-time').text(new Date(checkIn));
    });
  });
</script>
