<% provide(:title, 'Edit Flight')  %>
<% provide(:button_text, 'Edit Flight')%>

<div class="title-div"><h2 class="page-header">Edit Flight</h2></div>

<%=form_for @flight, url: user_flight_path do |f|%>
  <%= render 'form', f: f %>
<% end %>

<script type="text/javascript">
  $(function () {
    $("#flight_flight_time").on("focusout", function (e) {
      flightTime = $("#flight_flight_time").val()
      var checkIn = new Date(flightTime) - 864e5
      $('#checkin-time').text(new Date(checkIn));
    });
  });
</script>
