<div class="jumbotron">
  <div class="container">
    <h1 class="text-center landing-header">Window Seat</h1>
    <h3><span class="glyphicon glyphicon-send landing-icon" aria-hidden="true"></span></h3>
    <%= link_to 'Sign Up', new_user_registration_url, class: "btn btn-lg btn-signup" %>
    <%= link_to 'Sign In', new_user_session_url, class: "btn btn-lg btn-login" %>
    <div class="row">
      <div class="col-md-4">
        <h2>Add Your Flight</h2>
        <span class="glyphicon glyphicon-check landing-icon" aria-hidden="true"></span>
      </div>
      <div class="col-md-4">
        <h2>Forget About It</h2>
        <span class="glyphicon glyphicon-calendar landing-icon" aria-hidden="true"></span>
      </div>
      <div class="col-md-4">
        <h2>Enjoy the View</h2>
        <span class="glyphicon glyphicon-heart-empty landing-icon" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</div>