.container {
  margin-bottom: 0px;
}

.jumbotron {
  background-color:rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
}

.landing-header, h2 {
  font-family: 'Bungee Inline', cursive;
}

.landing-subtext {
}

.landing-icon {
  font-size: 4em;
}

.glyphicon-heart:hover {
  color: red;
}