<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.first_name %></h1>
    <p>
      Thank you for using WindowSeat.club.  We just checked you into your SouthWest <%= @flight.flight_number %>.
      <br>
    <p>
      Please note, this is not your boarding pass.  To retrieve your boarding pass, please go to the SouthWest website, app, or airport terminal.
    </p>
      <br>
    <p>
      Safe Travels!!
    </p>
  </body>
</html>
