<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.first_name %></h1>
    <p>
      Thank you for using WindowSeat.club.  Rest easy, we're scheduled to check you into <%= @flight.flight_number %> at <%= @flight.flight_time %>.
      <br>
    <p>
      You can expect another email once we've checked you in.
    </p>
      <br>
    <p>
      Safe Travels!!
    </p>
  </body>
</html>
