<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to WindowSeat.club, <%= @user.first_name %></h1>
    <p>
      You can use WindowSeat.club as an alternative to other pricey auto check-in services provided by the airline. Simply enter your flight information, and we'll take care of the rest.
      <br>
    <p>
      You can expect another email when you have set-up a new flight, and once we've checked you in.
    </p>
      <br>
    <p>
      Safe Travels!!
    </p>
  </body>
</html>
